.main {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-flow: row;
}

.welcome {
  padding: 20px;
}

.brand {
  font-family: 'Courgette', cursive;
  font-size: 1.3rem;
  color: #aaa;
  letter-spacing: 0.2rem;
}

.banner {
  display: flex;
  background-color: #45555f;
  padding: 14px 14px;
  height: 2vh;
  box-sizing: border-box;
  width: 100%;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
}
