.BottomToaster {
  position: fixed;
  background-color: #455560;
  color: white;
  width: 80%;
  z-index: 500;
  padding: 16px;
  bottom: 0;
  left: 10%;
  box-sizing: border-box;
  transition: all 0.1s ease-in-out;
}

@media (min-width: 600px) {
  .BottomToaster {
    width: 500px;
    left: calc(50% - 250px);
  }
}
