.login {
  position: fixed;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  top: 52px;
  right: 7px;
  width: 30vw;
  z-index: 500;
  background-color: #eee;
  box-shadow: 0 3px 6px #aaa;
  border-radius: 3px;
  padding: 14px;
}

.Input {
  border: none;
  box-sizing: border-box;
  width: 100%;
  border-radius: 3px;
  padding: 7px 14px;
  margin: 7px auto;
  font-size: 1rem;
  cursor: pointer;
}

.Input:focus {
  outline: none;
}
