.wrapper {
  position: relative;
}

.Client {
  box-sizing: border-box;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  padding: 7px 14px;
  margin: 7px;
  cursor: pointer;
  border: 1px solid #eee;
  border-radius: 3px;
  transition: all 0.1s ease-in-out;
}

.Client:hover {
  background-color: #eee;
}

.selected {
  box-sizing: border-box;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  padding: 7px 14px;
  margin: 7px;
  cursor: pointer;
  border: 1px solid transparent;
  border-left: 1px solid #faaa6c;
  background-color: #eee;
  border-radius: 3px;
}

.selected:hover .editButton {
  visibility: visible;
}

.Client:hover .editButton {
  visibility: visible;
}

.editButton {
  visibility: hidden;
  display: flex;
  align-items: center;
  height: 100%;
  border-radius: 3px;
  padding: 3px;
  box-sizing: border-box;
}

.editButton:hover {
  background-color: #ddd;
}
