.Clients {
  display: flex;
  /* padding: 7px; */
  box-sizing: border-box;
  position: relative;
  border-top: 7px solid #fcaa67;
  width: 30%;
  flex-flow: column;
}

.ClientsContainer {
  display: flex;
  box-sizing: border-box;
  flex-flow: column;
  height: 72vh;
  overflow-y: scroll;
  margin-bottom: 14px;
}

.catTitle {
  font-size: 1.5rem;
  font-weight: bold;
}

.fixedBottomMenu {
  width: inherit;
  box-sizing: border-box;
  position: fixed;
  bottom: 5%;
}
