.Modal {
  position: fixed;
  background-color: white;
  width: 90%;
  z-index: 500;
  box-shadow: 0 3px 6px #aaa;
  border-radius: 3px;
  left: 5%;
  top: 5%;
  box-sizing: border-box;
  transition: all 0.1s ease-in-out;
  max-height: 90vh;
  overflow-y: scroll;
}

.large {
  width: 90%;
  left: 5%;
  border-radius: 0px;
}

@media (min-width: 600px) {
  .Modal {
    width: 500px;
    left: calc(50% - 250px);
  }

  .large {
    width: 80%;
    left: 10%;
    border-radius: 0px;
  }
}
