.deleteButton {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  bottom: 5px;
  right: 5px;
  font-size: 0.8rem;
  text-align: right;
}

.button:hover {
  cursor: pointer;
  text-decoration: underline;
  color: red;
}
