.Quote {
  box-sizing: border-box;
  padding: 7px 14px;
  margin: 7px;
  border: 1px solid #eee;
  border-radius: 3px;
  transition: all 0.1s ease-in-out;
  position: relative;
}

.Quote:hover {
  background-color: #eee;
  cursor: pointer;
}

.selected {
  box-sizing: border-box;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  padding: 7px 14px;
  margin: 7px;
  cursor: pointer;
  border: 1px solid transparent;
  background-color: #eee;
  border-radius: 3px;
}

.line {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.span {
  font-size: 0.9rem;
  font-style: italic;
  color: #969696;
}

.editButton {
  height: 100%;
  box-sizing: border-box;
}

.editButton:hover {
  background-color: #ddd;
  cursor: pointer;
}
