.englober {
  display: flex;
  flex-flow: row;
}

.wrapper {
  display: flex;
  flex-flow: column;
}

.quoteHeader {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.title {
  flex-basis: 70%;
}

.tableWrapper {
  display: flex;
  flex-basis: 90%;
  flex-flow: row;
}

.flexTable {
  margin: 25px auto;
  /* border: 1px solid #eee; */
  /* border-bottom: 2px solid #41b695; */
  /* box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1), 0px 10px 20px rgba(0, 0, 0, 0.05),
    0px 20px 20px rgba(0, 0, 0, 0.05), 0px 30px 20px rgba(0, 0, 0, 0.05); */
  display: flex;
  width: 90%;
  flex-flow: column;
  box-sizing: border-box;
}
.flexHeader {
  display: flex;
  width: 100%;
  flex-flow: row;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
}

.flexHeaderCells {
  background: #41b695;
  flex-basis: 23%;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 12px 0px;
  border: 1px solid #eee;
  box-sizing: border-box;
}

.flexLine {
  display: flex;
  width: 100%;
  flex-flow: row;
}

.flexCell {
  flex-basis: 23%;
  color: #999;
  border: 1px solid #eee;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexCellDisabled {
  flex-basis: 23%;
  color: #999;
  border: 1px solid #eee;
  cursor: default;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
.totalLine {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  align-items: center;
  width: 92%;
}

.totalCell {
  display: flex;
  background: #eee;
  align-items: center;
  justify-content: center;
  flex-basis: 25%;
  border: 1px solid #eee;
  padding: 12px 35px;
  box-sizing: border-box;
  cursor: default;
}

.controls {
  display: flex;
  background-color: transparent;
  flex-basis: 7%;
  align-items: center;
  justify-content: space-around;
}

.lastHeaderCell {
  flex-basis: 7%;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 12px 0px;
  box-sizing: border-box;
  background-color: transparent;
}
