.infos {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-start;
  width: 40%;
}

.details {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-end;
}

.logo {
  height: 100px;
  width: 100px;
}
